{:paths ["src"]
 :aliases {:nrepl {:extra-deps {nrepl {:mvn/version "0.6.0"}}
                   :main-opts ["-m" "nrepl.cmdline"]}

           :rebl {:extra-deps {com.cognitect/rebl {:local/root "vendor/REBL-0.9.220.jar"}}}

           ;; Oracle JDK 8
           :jfx-8 {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}
                                org.clojure/core.async {:mvn/version "0.4.490"}}}

           ;; Open JDK 11
           :jfx-11
           {:extra-deps {org.clojure/core.async {:mvn/version "0.4.490"}
                         ;; deps for file datafication (0.9.149 or later)
                         org.clojure/data.csv {:mvn/version "0.1.4"}
                         org.clojure/data.json {:mvn/version "0.2.3"}
                         org.yaml/snakeyaml {:mvn/version "1.23"}
                         com.cognitect/rebl
                         ;; adjust to match your install location
                         {:local/root "vendor/REBL-0.9.220.jar"}
                         org.openjfx/javafx-fxml     {:mvn/version "11.0.1"}
                         org.openjfx/javafx-controls {:mvn/version "11.0.1"}
                         org.openjfx/javafx-graphics {:mvn/version "11.0.1"}
                         org.openjfx/javafx-media    {:mvn/version "11.0.1"}
                         org.openjfx/javafx-swing    {:mvn/version "11.0.1"}
                         org.openjfx/javafx-base     {:mvn/version "11.0.1"}
                         org.openjfx/javafx-web      {:mvn/version "11.0.1"}}
            :main-opts ["-m" "cognitect.rebl"]}

           :cider-22 {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}
                                   cider/cider-nrepl {:mvn/version "0.22.1"}}
                      :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}


           :nrebl {:main-opts ["-e" "((requiring-resolve,'cognitect.rebl/ui))" "-m" "nrepl.cmdline" "-i" "--middleware" "[nrebl.middleware/wrap-nrebl,cider.nrepl/cider-middleware]"]}}}
