{:aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.5.3"}}}
           :rebl {:extra-deps {org.clojure/clojure {:mvn/version "1.10.0"}
                               rickmoynihan/rebl.middleware {:local/root "../.."}
                               org.clojure/core.async {:mvn/version "0.4.490"}}}}}
